.app {
  &__error {
    &.MuiTypography-root {
      margin-top: 15px;
    }
  }
  &__container {
    margin-top: 40px;
  }
  &__loading {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}